.bg-custom{
	background: #6a1b9a;
}
.navbar .nav-item .nav-link{
	font-size: 20px;
	color: white;
}

.navbar-custom .nav-item:hover .nav-link{
	background: white;
	color: black;
	border-radius: 15px;
}
.div-color{
	
	background-image: linear-gradient(to right top, #b0ee3c, #ffbd11, #ff8556, #ff5f9c, #d368d7);
	height: 600px;
}